$small: 600px;
$medium: 700px;
$large: 1000px;

.input-group{
  margin-bottom: 40px;
}

@media screen and (max-width: $small) {
  .input-group{
    width: 100%;
  }
}

@media screen and (min-width: $medium) {
  .input-group{
    width: 50%;
    float: right;
  }
}

@media screen and (min-width: $large) {
  .input-group{
    width: 30%;
    float: right;
  }
}

.title{
  margin: 20px;
}